<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Monster Banana</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/main.css" />
    <script src="main.js"></script>
</head>
<body>
  <% include navbar %>
  <div class="border-btm">
    <div class="container">
      <div class="thumbnail">
        <img src="/images/header/peta.png" alt="peta" class="back-map">
        <div class="container text-map text-center">
          <h4>Tentang Monster Banana Chips</h4>
          <p>
            Where does it come from?
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
        </div>
      </div>
    </div>
  </div>
  <div class="border-btm">
    <div class="container">
      <div class="row">
        <div class="col-md-4 d-none d-sm-block">
          <div class="logo-row text-right">
            <img src="/images/header/pisang.png" alt="" class="back-logo">
          </div>
          <div class="logo-row text-left">
            <img src="/images/header/pisang.png" alt="" class="back-logo">
          </div>
          <div class="logo-row text-center">
            <img src="/images/header/pisang.png" alt="" class="back-logo">
          </div>
        </div>
        <div class="col-md-4">
          <img src="/images/header/logo1.jpg" alt="logo1" class="main-image mt-5">
        </div>
        <div class="col-md-4 d-none d-sm-block">
          <div class="logo-row text-right">
            <img src="/images/header/pisang.png" alt="" class="back-logo">
          </div>
          <div class="logo-row text-left">
            <img src="/images/header/pisang.png" alt="" class="back-logo">
          </div>
          <div class="logo-row text-center">
            <img src="/images/header/pisang.png" alt="" class="back-logo">
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include footer %>
</body>
</html>
