<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Monster Banana</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/main.css" />
    <script src="main.js"></script>
</head>
<body>
  <% include navbar %>
  <div class="border-btm">
    <div class="container">
      <div class="thumbnail">
        <img src="/images/header/peta.png" alt="peta" class="back-map">
        <div class="container text-map text-center">
          <h4>ABOUT MONSTER BANANA</h4>
          <p>
            Monster Banana adalah sebuah produk keripik pisang yang dibuat oleh perusahaan bernama Kreasi Nusantara. Monster Banana dibuat pada tahun 2017 dan dengan cepat menjadi keripik pisang yang sangat disukai oleh konsumen di berbagai daerah di Indonesia, seperti Jakarta, Bandung, Malang, Lampung, Surabaya, Bogor, Tanggerang dan saat ini Monster Banana sedang mengalami perkembangan di beberapa kota lainnya. 
            Tim Kreasi Nusantara berkomitmen untuk terus meningkatkan kualitas dari Monster Banana dan berinovasi agar dapat memberikan keripik pisang yang disukai dan dinantikan oleh konsumen.
            Saat ini, Kreasi Nusantara juga membuka peluang usaha bagi kalian yang ingin mencoba berbisnis sebagai reseller. Bagi panitia dari sebuah acara/event yang memiliki kebutuhan dana, Monster Banana juga dapat bekerjasama untuk menjadi sponsors acara kalian. 
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="border-btm">
    <div class="container">
      <div class="row">
        <div class="col-md-4 d-none d-sm-block">
          <div class="logo-row text-right">
            <img src="/images/header/pisang.png" alt="" class="back-logo">
          </div>
          <div class="logo-row text-left">
            <img src="/images/header/pisang.png" alt="" class="back-logo">
          </div>
          <div class="logo-row text-center">
            <img src="/images/header/pisang.png" alt="" class="back-logo">
          </div>
        </div>
        <div class="col-md-4">
          <img src="/images/header/logo1.jpg" alt="logo1" class="main-image mt-5">
        </div>
        <div class="col-md-4 d-none d-sm-block">
          <div class="logo-row text-right">
            <img src="/images/header/pisang.png" alt="" class="back-logo">
          </div>
          <div class="logo-row text-left">
            <img src="/images/header/pisang.png" alt="" class="back-logo">
          </div>
          <div class="logo-row text-center">
            <img src="/images/header/pisang.png" alt="" class="back-logo">
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include footer %>
</body>
</html>
