<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Monster Banana</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/main.css"/>
    <script src="main.js"></script>
</head>
<body>
  <% include navbar %>
  <div class="container">
    <div class="row mt-5" style="margin-left: 12px; margin-right: 12px">
      <div class="col-md-2">
        <div class="logo-row text-right">
          <img src="/images/header/tanya-orange.png" alt="" class="ask-logo">
        </div>
      </div>
      <div class="col-md-10">
        <div class="row">
          <h5>
            Apa itu Monster Banana?
          </h5>
        </div>
        <div class="row">
          <h5>
            Monster Banana adalah keripik pisang khas Lampung yang dibuat dengan cita rasa yang melegenda.
          </h5>
        </div>
      </div>
    </div>
    <div class="row mt-5" style="margin-left: 12px; margin-right: 12px">
      <div class="col-md-2">
        <div class="logo-row text-right">
          <img src="/images/header/tanya-pink.png" alt="" class="ask-logo">
        </div>
      </div>
      <div class="col-md-10">
        <div class="row">
          <h5>
            Siapa itu Popo?
          </h5>
        </div>
        <div class="row">
          <h5>
            Popo adalah monster lucu yang menjadi maskot dari Monster Banana.
          </h5>
        </div>
      </div>
    </div>
    <div class="row mt-5" style="margin-left: 12px; margin-right: 12px">
      <div class="col-md-2">
        <div class="logo-row text-right">
          <img src="/images/header/tanya-green.png" alt="" class="ask-logo">
        </div>
      </div>
      <div class="col-md-10">
        <div class="row">
          <h5>
            Bagaimana caranya menjadi reseller?
          </h5>
        </div>
        <div class="row">
          <h5>
            Untuk menjadi reseller, kamu bisa klik disini.
          </h5>
        </div>
      </div>
    </div>
    <div class="row mt-5" style="margin-left: 12px; margin-right: 12px">
      <div class="col-md-2">
        <div class="logo-row text-right">
          <img src="/images/header/tanya-green.png" alt="" class="ask-logo">
        </div>
      </div>
      <div class="col-md-10">
        <div class="row">
          <h5>
            Kalau sudah menjadi reseller, bolehkah menjual produk yang lain?
          </h5>
        </div>
        <div class="row">
          <h5>
            Boleh. Posisi Monster Banana disini hanya sebagai supplier produk barang dagangan kamu, bukan mengatur penjualan kamu.
          </h5>
        </div>
      </div>
    </div>
    <div class="row mt-5" style="margin-left: 12px; margin-right: 12px">
      <div class="col-md-2">
        <div class="logo-row text-right">
          <img src="/images/header/tanya-orange.png" alt="" class="ask-logo">
        </div>
      </div>
      <div class="col-md-10">
        <div class="row">
          <h5>
            Saya harus menjual Monster Banana dengan harga berapa?
          </h5>
        </div>
        <div class="row">
          <h5>
            Saat ini, harga Monster Banana antara Rp. 12.000 – Rp. 15.000. Namun sebagai reseller, kamu bebas menjual Monster Banana dengan harga lebih dari Rp. 15.000 karena Monster Banana tidak mengatur keuntungan yang kamu dapatkan.
          </h5>
        </div>
      </div>
    </div>
    <div class="row mt-5" style="margin-left: 12px; margin-right: 12px">
      <div class="col-md-2">
        <div class="logo-row text-right">
          <img src="/images/header/tanya-orange.png" alt="" class="ask-logo">
        </div>
      </div>
      <div class="col-md-10">
        <div class="row">
          <h5>
            Bagaimana caranya mengajak Monster Banana menjadi sponsor?
          </h5>
        </div>
        <div class="row">
          <h5>
            Kirimkan proposal kamu ke halomonsterbanana@gmail.com atau klik disini.
          </h5>
        </div>
      </div>
    </div>
    <div class="row mt-5" style="margin-left: 12px; margin-right: 12px">
      <div class="col-md-2">
        <div class="logo-row text-right">
          <img src="/images/header/tanya-brown.png" alt="" class="ask-logo">
        </div>
      </div>
      <div class="col-md-10">
        <div class="row">
          <h5>
            Bagaimana mekanisme sponsor yang diberikan oleh Monster Banana?
          </h5>
        </div>
        <div class="row">
          <h5>
            Monster Banana memberikan produk dibawah harga pasaran, produk gratis, atau fresh money sesuai dengan kesepakatan.
          </h5>
        </div>
      </div>
    </div>
    <div class="row mt-5 mb-4" style="margin-left: 12px; margin-right: 12px">
      <div class="col-md-2">
        <div class="logo-row text-right">
          <img src="/images/header/tanya-pink.png" alt="" class="ask-logo">
        </div>
      </div>
      <div class="col-md-10">
        <div class="row">
          <h5>
            Kapan saya akan dihubungi oleh Monster Banana terkait dengan kerja sama sponsorship?
          </h5>
        </div>
        <div class="row">
          <h5>
            Tim Monster Banana akan menghubungi kamu paling lambat 2 hari kerja.
          </h5>
        </div>
      </div>
    </div>
  </div>
  <% include footer %>
</body>
</html>
