<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Monster Banana</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/main.css"/>
    <script src="main.js"></script>
</head>
<body>
  <% include navbar %>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-2">
        <div class="logo-row text-right">
          <img src="/images/header/tanya-orange.png" alt="" class="ask-logo">
        </div>
      </div>
      <div class="col-md-10">
        <div class="row">
          <h5>
            Apa itu Monster Banana?
          </h5>
        </div>
        <div class="row">
          <h5>
            Keripik pisang khas lampung pisang khas lampung pisang khas lampung pisang khas lampung pisang khas lampung pisang khas lampung
          </h5>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-2">
        <div class="logo-row text-right">
          <img src="/images/header/tanya-pink.png" alt="" class="ask-logo">
        </div>
      </div>
      <div class="col-md-10">
        <div class="row">
          <h5>
            Apa itu Monster Banana?
          </h5>
        </div>
        <div class="row">
          <h5>
            Keripik pisang khas lampung pisang khas lampung pisang pisang khas lampung pisang khas lampung
          </h5>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-2">
        <div class="logo-row text-right">
          <img src="/images/header/tanya-green.png" alt="" class="ask-logo">
        </div>
      </div>
      <div class="col-md-10">
        <div class="row">
          <h5>
            Apa itu Monster Banana?
          </h5>
        </div>
        <div class="row">
          <h5>
            Keripik pisang khas lampung pisang khas lampung pisang pisang khas lampung pisang khas lampung
          </h5>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-2">
        <div class="logo-row text-right">
          <img src="/images/header/tanya-green.png" alt="" class="ask-logo">
        </div>
      </div>
      <div class="col-md-10">
        <div class="row">
          <h5>
            Apa itu Monster Banana?
          </h5>
        </div>
        <div class="row">
          <h5>
            Keripik pisang khas lampung pisang khas lampung pisang pisang khas lampung pisang khas lampung lampung pisang pisang khas lampung pisang khas lampung lampung pisang pisang khas lampung pisang khas lampung
          </h5>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-2">
        <div class="logo-row text-right">
          <img src="/images/header/tanya-orange.png" alt="" class="ask-logo">
        </div>
      </div>
      <div class="col-md-10">
        <div class="row">
          <h5>
            Apa itu Monster Banana?
          </h5>
        </div>
        <div class="row">
          <h5>
            Keripik pisang khas lampung pisang khas lampung pisang khas lampung pisang khas lampung pisang khas lampung pisang khas lampung
          </h5>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-2">
        <div class="logo-row text-right">
          <img src="/images/header/tanya-orange.png" alt="" class="ask-logo">
        </div>
      </div>
      <div class="col-md-10">
        <div class="row">
          <h5>
            Apa itu Monster Banana?
          </h5>
        </div>
        <div class="row">
          <h5>
            Keripik pisang khas lampung pisang khas lampung pisang khas lampung pisang khas lampung pisang khas lampung pisang khas lampung
          </h5>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-2">
        <div class="logo-row text-right">
          <img src="/images/header/tanya-brown.png" alt="" class="ask-logo">
        </div>
      </div>
      <div class="col-md-10">
        <div class="row">
          <h5>
            Apa itu Monster Banana?
          </h5>
        </div>
        <div class="row">
          <h5>
            Keripik pisang khas lampung pisang khas lampung pisang khas lampung pisang khas lampung pisang khas lampung pisang khas lampung
          </h5>
        </div>
      </div>
    </div>
    <div class="row mt-5 mb-4">
      <div class="col-md-2">
        <div class="logo-row text-right">
          <img src="/images/header/tanya-pink.png" alt="" class="ask-logo">
        </div>
      </div>
      <div class="col-md-10">
        <div class="row">
          <h5>
            Apa itu Monster Banana?
          </h5>
        </div>
        <div class="row">
          <h5>
            Keripik pisang khas lampung pisang khas lampung pisang khas lampung pisang khas lampung pisang khas lampung pisang khas lampung
          </h5>
        </div>
      </div>
    </div>
  </div>
  <% include footer %>
</body>
</html>
