<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="all-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mt-3 text-sm-left text-md-center">
            <h4 class="text-white">Ikuti kami:</h4>
            <div class="row flex-nowrap">
              <div class="col-md-6 text-sm-left text-md-right">
                <img src="/images/header/ig.png" class="test">
              </div>
              <div class="col-md-6 text-left">
                <h4 class="text-white">@monsterbananachips</p>
              </div>
            </div>
            <div class="row flex-nowrap">
              <div class="col-md-6 text-sm-left text-md-right">
                <img src="/images/header/fb.png" class="test">
              </div>
              <div class="col-md-6 text-left">
                <h4 class="text-white">Monster Banan Chips</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 mt-3 text-sm-left text-md-center">
            <h4 class="text-white">Hubungi kami:</h4>
            <div class="row flex-nowrap">
              <div class="col-md-6 text-sm-left text-md-right">
                <img src="/images/header/gmail.png" class="test">
              </div>
              <div class="col-md-6 text-left">
                <h4 class="text-white">sponsor@monsterbananachips.com</p>
              </div>
            </div>
            <div class="row flex-nowrap">
              <div class="col-md-6 text-sm-left text-md-right">
                <img src="/images/header/wa.png" class="test">
              </div>
              <div class="col-md-6 text-left">
                <h4 class="text-white">@monsterbananachips</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
