<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Monster Banana</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/main.css" />
    <script src="main.js"></script>
</head>
<body>
  <% include navbar %>
  <div class="border-btm">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mt-4 d-none d-sm-block">
          <div class="logo-row text-left">
            <img src="/images/header/money-orange.png" alt="" class="money-logo">
          </div>
          <div class="logo-row text-right">
            <img src="/images/header/money-green.png" alt="" class="money-logo">
          </div>
        </div>
        <div class="col-md-4 text-center">
          <h4>Kamu ingin nambah penghasilan, tapi... ?</h4>
          <img src="/images/header/confuse.png" alt="" class="emoticon mt-3">
          <h3 class="mt-3">Bingung?</h3>
          <h4>Bingung ingin memulai usaha dari mana, berjualan apa, pasarnya bagaimana?</h4>
        </div>
        <div class="col-md-4 mt-4 d-none d-sm-block">
          <div class="logo-row text-right">
            <img src="/images/header/money-brown.png" alt="" class="money-logo">
          </div>
          <div class="logo-row text-left">
            <img src="/images/header/money-pink.png" alt="" class="money-logo">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="border-btm">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="logo-row text-center mt-3">
            <img src="/images/header/money-green.png" alt="" class="money-logo">
          </div>
        </div>
        <div class="col-md-4">
          <h3 class="mt-3">Jadilah Reseller Monster Banana dan dapatkan 6 keuntungan ini:</h3>
        </div>
        <div class="col-md-4">
          <div class="logo-row text-center mt-3">
            <img src="/images/header/money-orange.png" alt="" class="money-logo">
          </div>
        </div>
      </div>
      <p>
        1. Mendapat harga Monster Banana yang lebih murah dibandingkan harga dipasaran.
          Monster Banana memberikan harga spesial bagi reseller yang ingin bergabung dan menjadi reseller Monster Banana. Jadi, kamu bisa menjual Monster Banana sesuai dengan harga yang ada di pasaran.
      </p>
      <p>
        2. Keuntungan yang mencapai 40% menjual satu produknya.
          Keuntungan yang akan kamu dapatkan ketika berhasil menjual satu produk Monster Banana mencapai hinga 40% dari modal yang kamu keluarkan. Nilai keuntungan yang cukup besar, kan?
      </p>
      <p>
        3. Gratis ongkos kirim
          Monster Banana membebaskan biaya ongkos kirim bagi para reseller sehingga keuntungan kamu tidak akan berkurang karena harus menanggung biaya ongkos kirim.
      </p>
      <p>
        4. Resiko Kecil
          Dengan menjadi reseller Monster Banana, modal yang kamu keluarkan tidaklah sebesar jika harus memproduksi suatu produk sendiri sehingga resikonya lebih kecil dan aman.
      </p>
      <p>
        5. Pasar yang luas
          Monster Banana adalah keripik pisang khas Lampung yang sangat disukai oleh masyarakat. Kamu tidak akan kesulitan menjualnya karena banyak sekali yang mencari Monster Banana.
      </p>
      <p>
        6. Meningkatkan kemampuan berwirausaha
          Dengan menjadi reseller Monster Banana, berarti kamu juga sudah memulai karir sebagai pengusaha. Menjadi reseller Monster Banana adalah langkah yang tepat untuk memulai usaha.
      </p>
    </div>
  </div>
  <div class="border-btm">
    <div class="container">
      <div class="row mt-4">
        <div class="col-md-4">
          <div class="logo-row text-center d-none d-sm-block">
            <img src="/images/header/money-brown.png" alt="" class="money-logo">
          </div>
        </div>
        <div class="col-md-4 text-center mb-3">
          <h3>Syarat dan Ketentuan</h3>
        </div>
        <div class="col-md-auto"></div>
      </div>
      <div class="row" style="margin-top: -15px">
        <div class="col-md-4">
          <p>
            - Minimal pembelian 50 Pcs.
          </p>
          <p>
            - Pembelian kelipatan 100 Pcs, ongkos kirim akan ditanggung pihak Monster Banana.
          </p>
          <p>
            - Pembayaran dilakukan diawal sebelum produk dikirim
          </p>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="logo-row text-left d-none d-sm-block">
            <img src="/images/header/money-pink.png" alt="" class="money-logo">
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include footer %>
</body>
</html>
