<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Monster Banana</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/main.css" />
    <script src="main.js"></script>
</head>
<body>
  <% include navbar %>
  <div class="border-btm">
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-4">
          <div class="logo-row text-center">
            <img src="/images/header/hand-pink.png" alt="" class="hand-logo">
          </div>
        </div>
        <div class="col-md-4 text-center">
          <h4>
            Halo teman-teman mahasiswa/pelajar!
          </h4>
        </div>
        <div class="col-md-4">
          <div class="logo-row text-center">
            <img src="/images/header/hand-pink.png" alt="" class="hand-logo">
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col text-center">
          <h4>
            Kampus atau sekolah kamu lagi merencanakan event?
          </h4>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
          <h4>
            Kampus atau sekolah kamu lagi merencanakan event?
          </h4>
        </div>
        <div class="col-md-4">
          <div class="logo-row text-right">
            <img src="/images/header/hand-pink.png" alt="" class="hand-logo">
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-4">
          <div class="logo-row text-left">
            <img src="/images/header/hand-green.png" alt="" class="hand-logo">
          </div>
        </div>
        <div class="col-md-4 text-center">
          <h4>
            Dana yang dibutuhkan besar?
          </h4>
        </div>
        <div class="col-md-4"></div>
      </div>
      <div class="row mt-5">
        <div class="col-md-4" style="margin-top: -50px">
          <div class="logo-row text-right">
            <img src="/images/header/hand-pink.png" alt="" class="hand-logo">
          </div>
        </div>
        <div class="col-md-4 text-center">
          <h4>
            Bagaimana cara mengajukan proposal ke Monster Banana
          </h4>
        </div>
        <div class="col-md-4" style="margin-top: -50px">
          <div class="logo-row text-left">
            <img src="/images/header/hand-orange.png" alt="" class="hand-logo">
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col text-center">
          <h4>
            Silahkan Kirimkan Proposalmu ke:
          </h4>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
          <div class="box-email">
            <h4 class="mt-3">
              sponsor@monsterbanana.com
            </h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="logo-row text-left">
            <img src="/images/header/hand-green.png" alt="" class="hand-logo">
          </div>
        </div>
      </div>
      <div class="row mt-5 mb-5">
        <div class="col-md-4">
          <div class="logo-row text-center" style="margin-top: -50px">
            <img src="/images/header/hand-green.png" alt="" class="hand-logo">
          </div>
        </div>
        <div class="col-md-4 text-center mt-5">
          <h4>
            Kami tunggu proposal kalian yaaa
          </h4>
        </div>
        <div class="col-md-4">
          <div class="logo-row text-right" style="margin-top: 50px">
            <img src="/images/header/hand-orange.png" alt="" class="hand-logo">
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include footer %>

</body>
</html>
